.videoFooter {
    position: relative;
    bottom: 20%;
    color: white;
    margin-left: 30px;
}

.videoFooter__details h3,
.videoFooter__details p {
    padding-bottom: 20px;
}

.videoFooter__details__music {
    display: flex;
}

.videoFooter__details__music__text {
    width: 80%;
    overflow-x: hidden;
}

.videoFooter__details__music__text p {
    animation: moveTheText 4s infinite linear;
}

@keyframes moveTheText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.videoFooter__record {
    position: absolute;
    bottom: 5px;
    right: 20px;
    height: 50px;
    filter: invert(1);
    animation: spinTheRecord 3s infinite linear;
}

@keyframes spinTheRecord {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 440px) {
    .videoFooter {
        bottom: 22%;
    }

    .videoFooter__details__music__text {
        width: 78%;
    }
}